In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
video_train = pd.read_csv('C:\\Users\\monte\\Downloads\\Video_Games.csv\\Video_Games.csv')
video_train

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Rapala Trophies,PSP,2006.0,Sports,Activision,0.04,0.00,0.00,0.00,NaN,NaN,NaN,NaN,Sand Grain Studios,E
1,New Super Mario Bros. U,WiiU,2012.0,Platform,Nintendo,2.30,1.34,1.27,0.32,84.0,70.0,8.1,733.0,Nintendo,E
2,Robots,PS2,2005.0,Action,Vivendi Games,0.18,0.14,0.00,0.05,53.0,6.0,6.0,8.0,Eurocom Entertainment Software,E
3,Hamster Club 3,GBA,2002.0,Simulation,Jorudan,0.00,0.00,0.35,0.01,NaN,NaN,NaN,NaN,NaN,NaN
4,Formula 1 06,PS2,2006.0,Racing,Sony Computer Entertainment,0.00,0.00,0.04,0.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11698,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.70,3.68,0.11,1.13,87.0,89.0,6.3,1454.0,Treyarch,M
11699,Resistance 3,PS3,2011.0,Shooter,Sony Computer Entertainment,0.64,0.57,0.05,0.22,83.0,91.0,7.8,543.0,Insomniac Games,M
11700,Ready 2 Rumble Revolution,Wii,2009.0,Sports,Atari,0.15,0.00,0.00,0.01,37.0,31.0,NaN,NaN,10tacle Studios,T
11701,Monster Hunter Frontier Online: Forward 2,X360,2011.0,Role-Playing,Capcom,0.00,0.00,0.03,0.00,NaN,NaN,NaN,NaN,NaN,NaN
11702,NHL 2K9,PS3,2008.0,Sports,Take-Two Interactive,0.11,0.01,0.00,0.01,70.0,21.0,NaN,NaN,Visual Concepts,E10+

In [51]:
video_train.isnull().sum()

Platform              0
Year_of_Release       0
Genre                 0
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
User_Score         6384
User_Count         6384
Importance            0
dtype: int64

In [42]:
video_train = video_train.drop_duplicates(['Name','Platform','Year_of_Release'])

In [43]:
video_train = video_train.drop(['Name','Developer','Rating','Critic_Score','Critic_Count'], axis = 1)

In [44]:
video_train

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,User_Score,User_Count
0,PSP,2006.0,Sports,Activision,0.04,0.00,0.00,0.00,NaN,NaN
1,WiiU,2012.0,Platform,Nintendo,2.30,1.34,1.27,0.32,8.1,733.0
2,PS2,2005.0,Action,Vivendi Games,0.18,0.14,0.00,0.05,6.0,8.0
3,GBA,2002.0,Simulation,Jorudan,0.00,0.00,0.35,0.01,NaN,NaN
4,PS2,2006.0,Racing,Sony Computer Entertainment,0.00,0.00,0.04,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11698,X360,2010.0,Shooter,Activision,9.70,3.68,0.11,1.13,6.3,1454.0
11699,PS3,2011.0,Shooter,Sony Computer Entertainment,0.64,0.57,0.05,0.22,7.8,543.0
11700,Wii,2009.0,Sports,Atari,0.15,0.00,0.00,0.01,NaN,NaN
11701,X360,2011.0,Role-Playing,Capcom,0.00,0.00,0.03,0.00,NaN,NaN
11702,PS3,2008.0,Sports,Take-Two Interactive,0.11,0.01,0.00,0.01,NaN,NaN

In [140]:
video_train['Importance'] = (video_train.NA_Sales < 0.1) & (video_train.EU_Sales < 0.1) & (video_train.Other_Sales < 0.1)

In [141]:
video_train.loc[video_train.Year_of_Release > 2017.5, 'Year_of_Release'] = -100

In [142]:
video_train.Year_of_Release = video_train.Year_of_Release.fillna(-100)
video_train.Genre = video_train.Genre.fillna(str(-100))
video_train.Publisher = video_train.Publisher.fillna('-100')

In [143]:
video_train.User_Score = video_train.User_Score.fillna(video_train.User_Score.median())
video_train.User_Count = video_train.User_Count.fillna(video_train.User_Count.median())

In [144]:
X_train = video_train.drop('JP_Sales', axis = 1)
y_train = video_train.JP_Sales

In [145]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()
X_train["Genre"] = encoder.fit_transform(X_train["Genre"])
X_train["Publisher"] = encoder.fit_transform(X_train["Publisher"])
X_train["Platform"] = encoder.fit_transform(X_train["Platform"])

In [146]:
X_train

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,Other_Sales,User_Score,User_Count,Importance
0,18,2006.0,11,22,0.04,0.00,0.00,7.5,25.0,True
1,26,2012.0,5,330,2.30,1.34,0.32,8.1,733.0,False
2,15,2005.0,1,493,0.18,0.14,0.05,6.0,8.0,False
3,6,2002.0,10,242,0.00,0.00,0.01,7.5,25.0,True
4,15,2006.0,7,415,0.00,0.00,0.00,7.5,25.0,True
...,...,...,...,...,...,...,...,...,...,...
11698,27,2010.0,9,22,9.70,3.68,1.13,6.3,1454.0,False
11699,16,2011.0,9,415,0.64,0.57,0.22,7.8,543.0,False
11700,25,2009.0,11,52,0.15,0.00,0.01,7.5,25.0,False
11701,27,2011.0,8,83,0.00,0.00,0.00,7.5,25.0,True
11702,16,2008.0,11,449,0.11,0.01,0.01,7.5,25.0,False

In [135]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
regressor = RandomForestRegressor( criterion = 'mae', random_state = 123, max_depth = 10,
                                   n_estimators =1000, max_leaf_nodes = 1024)

In [88]:
params = {'n_estimators': [64, 128]}

In [91]:
random_searcher = RandomizedSearchCV(regressor, params, cv = 5, n_iter = 2,scoring = 'neg_mean_absolute_error')

In [92]:
random_searcher.fit(X_train, y_train)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestRegressor(criterion='mae',
                                                   max_depth=10,
                                                   random_state=123),
                   n_iter=2, param_distributions={'n_estimators': [64, 128]},
                   scoring='neg_mean_absolute_error')

In [93]:
random_searcher.best_params_

{'n_estimators': 128}

In [94]:
best_regressor = random_searcher.best_estimator_

In [120]:
video_test = pd.read_csv('C:\\Users\\monte\\Downloads\\Video_Games_Test.csv')

In [121]:
video_test

,Id,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,Other_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,1,BeatMania IIDX 13: DistorteD,PS2,2007.0,Simulation,Konami Digital Entertainment,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Rugrats: Castle Capers,GBA,2001.0,Action,THQ,0.33,0.12,0.01,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Overlord II,PS3,2009.0,Action,Codemasters,0.11,0.15,0.06,72.0,42.0,7.6,24.0,Triumph Studios,T
3,4,Barbie as The Island Princess,GBA,2007.0,Adventure,Activision,0.16,0.06,0.00,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Petz: Hamsterz Life 2,GBA,2007.0,Misc,Ubisoft,0.01,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,5012,Valhalla Knights: Eldar Saga,Wii,2009.0,Role-Playing,Rising Star Games,0.10,0.01,0.01,35.0,17.0,6.7,19.0,"K2, Kurogane",T
5012,5013,WWF No Mercy,N64,2000.0,Fighting,THQ,1.20,0.27,0.02,NaN,NaN,NaN,NaN,NaN,NaN
5013,5014,Ty the Tasmanian Tiger,GC,2002.0,Platform,Electronic Arts,0.21,0.05,0.01,69.0,12.0,8.7,15.0,Krome Studios,E
5014,5015,Scooby-Doo! Unmasked,DS,2005.0,Platform,THQ,0.07,0.01,0.01,NaN,NaN,NaN,NaN,NaN,NaN
5015,5016,From Russia With Love,PS2,2005.0,Action,Electronic Arts,0.34,0.01,0.06,69.0,29.0,7.6,36.0,EA Redwood Shores,T

In [122]:
video_test.isnull().sum()

Id                    0
Name                  1
Platform              0
Year_of_Release      74
Genre                 1
Publisher            16
NA_Sales              0
EU_Sales              0
Other_Sales           0
Critic_Score       2555
Critic_Count       2555
User_Score         2745
User_Count         2745
Developer          1984
Rating             2023
dtype: int64

In [123]:
video_test = video_test.drop(['Name','Developer','Rating','Critic_Score','Critic_Count'], axis = 1)

In [124]:
video_test

,Id,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,Other_Sales,User_Score,User_Count
0,1,PS2,2007.0,Simulation,Konami Digital Entertainment,0.00,0.00,0.00,NaN,NaN
1,2,GBA,2001.0,Action,THQ,0.33,0.12,0.01,NaN,NaN
2,3,PS3,2009.0,Action,Codemasters,0.11,0.15,0.06,7.6,24.0
3,4,GBA,2007.0,Adventure,Activision,0.16,0.06,0.00,NaN,NaN
4,5,GBA,2007.0,Misc,Ubisoft,0.01,0.00,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5011,5012,Wii,2009.0,Role-Playing,Rising Star Games,0.10,0.01,0.01,6.7,19.0
5012,5013,N64,2000.0,Fighting,THQ,1.20,0.27,0.02,NaN,NaN
5013,5014,GC,2002.0,Platform,Electronic Arts,0.21,0.05,0.01,8.7,15.0
5014,5015,DS,2005.0,Platform,THQ,0.07,0.01,0.01,NaN,NaN
5015,5016,PS2,2005.0,Action,Electronic Arts,0.34,0.01,0.06,7.6,36.0

In [125]:
video_test['Importance'] = (video_test.NA_Sales < 0.1) & (video_test.EU_Sales < 0.1) & (video_test.Other_Sales < 0.1)

In [126]:
video_test.loc[video_test.Year_of_Release > 2017.5, 'Year_of_Release'] = -100
video_test.Year_of_Release = video_test.Year_of_Release.fillna(-100)
video_test.Genre = video_test.Genre.fillna(str(-100))
video_test.Publisher = video_test.Publisher.fillna('-100')

In [127]:
video_test.User_Score = video_test.User_Score.fillna(video_test.User_Score.median())
video_test.User_Count = video_test.User_Count.fillna(video_test.User_Count.median())

In [128]:
X_test = video_test.drop('Id', axis = 1)

In [129]:
X_test["Genre"] = encoder.fit_transform(X_test["Genre"])
X_test["Publisher"] = encoder.fit_transform(X_test["Publisher"])
X_test["Platform"] = encoder.fit_transform(X_test["Platform"])

In [147]:
regressor.fit(X_train, y_train)

RandomForestRegressor(criterion='mae', max_depth=10, max_leaf_nodes=1024,
                      n_estimators=1000, random_state=123)

In [150]:
pred = pd.DataFrame(regressor.predict(X_test))
pred = pred.rename(columns = {0:"JP_Sales"})
pred

      JP_Sales
0      0.03013
1      0.00000
2      0.00000
3      0.00000
4      0.00000
...        ...
5011   0.00000
5012   0.00000
5013   0.00000
5014   0.00000
5015   0.00000

[5016 rows x 1 columns]

In [151]:
pred.index = video_test.Id
pred

      JP_Sales
Id
1      0.03013
2      0.00000
3      0.00000
4      0.00000
5      0.00000
...        ...
5012   0.00000
5013   0.00000
5014   0.00000
5015   0.00000
5016   0.00000

[5016 rows x 1 columns]

In [152]:
pred.to_csv('C:\\Users\\monte\\Downloads\\video_pred.csv')